html, body {
    scroll-behavior: smooth;
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("https://i.picsum.photos/id/100/2500/1656.jpg")
    url("https://i.picsum.photos/id/1018/3914/2935.jpg")
    url("https://i.picsum.photos/id/1016/3844/2563.jpg");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  background-color: #282c34;
  color: #fff;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

footer h2 {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
}

.content {
   background-color: #282c34;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
}


.content h2 {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    font-size: 1rem;
}

.preloader {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

